* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.form {
    width: 30%;
}

.title {
    font-weight: bold;
}
.form_par {
    margin-bottom: 30px;
}
.section {
    display:flex;
    margin-top: 15px;
}
.field {
    padding: 15px;
    color: #CECFCE;
    background-color: #F6F6F6;
    border: none;
    width: 100%;
}
input::placeholder {
    color: #C6C6C6;
}
.field:focus {
    outline: none;
}
.checkbox {
    margin: 0; 
}
.submit {
    color: white;
    background-color: black;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    font-size: 1.2vw;
    cursor: pointer;
}
.field:not(:last-child) {
    margin-right: 16px;
}
.mes {
    resize: none;
}
.checkbox_label {
    font-size: 1.2vw;
    display: flex;
    font-weight: 500;

}